body {
    background-image: url(img/fon.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    text-align: center;
    margin: auto;
}
h1 {
    font-size: 48px;
}
#description {
    font-size: 24px;
}
form {
    background-color: rgba(0, 0, 0, 0.50);
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding: 10px 2rem 5px 2rem;
}

.info {
    margin: 20px 0px;
}

input, textarea, select {
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}
.inline {
    width: unset;
    vertical-align: auto;
}

#tell {
    height: 100px;
}

input::placeholder {
    padding-left: 10px;
    font-size: 12px;
}
select {
    font-size: 12px;
}

#submit
    {
    height: 30px;
    }
#submit:hover {
    background-color: rgb(150, 36, 216);
    color: white; 
}